<!doctype html>
<html lang="fr"> 
	
   <head>

		<meta charset="utf-8">
		<title>POV t'es momo light</title>
		<link rel="stylesheet" href="/static/Col2.css">

	</head>
	<div class="menu">

		<span class="bouton"><a href='/deck'><img id="acne" src="/static/images/caddy.jpg" ></a></span>

	</div>
	
	<body>
		
		<h1><strong>Clique en haut à gauche sur le caddy pour te rediriger vers la page du génerateur</strong></h1>
		<center><p>Bienvenue sur mon site, si tu connais pas clash royale tu vis dans une grotte et je t'invite à te trouver des amis.</p></center>
		<ul>meme clash royale:</ul>
<center><iframe width="500" height="290" src="https://www.youtube.com/embed/NSENKeUog2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>	
	<h2>Le but de Clash Royale est de tomber le plus de tours possibles ou la Tour du Roi de votre adversaire, et ce avant le temps imparti, qui est de 3 minutes, en ajoutant 1 minutes si la partie n'est pas départagée.<br> Pour faire match nul, il faut que le même nombre de tours soient tombés, ou que les Tours du Roi tombent en même temps.<br>Vous avez le droit à une sélection de 8 cartes, la moitié étant disponibles immédiatement.<br> Chaque fois qu'une carte est placée, cette carte apparaît et ainsi de suite. Vous avez le droit à un maximum de 10 élixirs, qui se régénère automatiquement, ce dernier aspect étant doublé à partir de la dernière minute de jeu.<br> Le chiffre sur les cartes renseignent sur leur coût en élixir.

Chaque victoire vous donne une certaine somme d'or (limité à 20x par jour), mais aussi un coffre et un nombre de trophées (que vous pouvez aussi perdre). Tout cela sera évoqué dans des guides que nous vous proposons.</h2>
<span>
        <center><br><br><br><br><br>© 2022 Nassir, Inc.</center>
        </span>   
	</body>

</html>